@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow-y: auto; /* Enable vertical scrolling */
}

header {
    background-color: #ff0080;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ff0080;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff0055;
}

#content {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



table {
    width: 100%;
    max-width: 600px;
    background-color: #333;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #ff0080;
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
}

tbody tr:nth-child(even) {
    background-color: #555;
}

tfoot {
    background-color: #ff0080;
    color: #fff;
}

a {
    color: #ff0080; /* Hotpink color for the hyperlinks */
}

a:hover {
    color: #ff0055; /* Darker shade of hotpink on hover */
}

footer {
    background-color: #ff0080;
    padding: 10px;
    text-align: center;
}

.resume-button {
    text-align: center;
    margin-top: 20px;
}

.resume-link {
    display: inline-block;
    background-color: #ff0080;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    transform: scale(1.1);
    background-color: #ff0055;
    color: #fff; /* Set the text color to white */
}

.links-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0080;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.links-button:hover {
    transform: scale(1.1);
    background-color: #ff0055;
    color: #fff;
}

/* Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: hotpink;
}

/* Firefox */
/* Note: Firefox does not support customizing the scrollbar colors directly, 
   but you can use this code as a fallback for older versions of Firefox */
scrollbar-color: hotpink #000;
