@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--ctp-crust);
  color: var(--ctp-text);
}

.title {
  color: var(--ctp-lavender);
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
}

.subtitle {
  color: var(--ctp-subtext1);
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  justify-content: center;
}

.gallery-item {
  position: relative;
  margin: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
}

.gallery-item:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--ctp-lavender);
  border-radius: 5px;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 46, 0.6); /* Transparent Catppuccin base */
  backdrop-filter: blur(10px); /* Now blur becomes visible */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
}

.fullscreen-container.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px var(--ctp-lavender));
  transition: filter 0.3s;
}

.fullscreen-container.active .fullscreen-image {
  filter: drop-shadow(0 0 20px var(--ctp-lavender));
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--ctp-red);
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: var(--ctp-maroon);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--ctp-lavender);
  background-color: var(--ctp-mantle);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.prev-btn:hover,
.next-btn:hover {
  opacity: 1;
}

.prev-btn {
  left: 30px;
}

.next-btn {
  right: 30px;
}

img {
  font-style: italic;
  height: auto;
  vertical-align: middle;
}

.fullscreen-container.active .close-btn {
  color: var(--ctp-red);
}

.fullscreen-container.active .close-btn:hover {
  color: var(--ctp-maroon);
}

/* Webkit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--ctp-crust);
}

::-webkit-scrollbar-thumb {
  background-color: var(--ctp-lavender);
}

/* Firefox */
scrollbar-color: var(--ctp-lavender) var(--ctp-crust);

